/*
Arc-Dark Color Scheme
*/

@define-color highlight #800000;
@define-color base1  #200000;
@define-color base2 #000000;
@define-color base3  #000000;

*{
    font-family: JetBrainsMono Nerd Font;
}

window {
    border: 2px solid @highlight;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 10px;
    border:none;
    color: white;
}

#inner-box {
    background-color: @base3;
    border-radius: 10px;

}

#outer-box {
    margin: 5px;
    padding:15px;
    background-color: @base2;
    #border-radius: 10px;

}

#text {
    padding: 5px;
    color: white;
}

#entry:nth-child(even) {
    background-color: @base1;
}

#entry:selected {
    background-color: @highlight;
}
